<!DOCTYPE html>
<html>
<head>
	<title><%=title%></title>
</head>
<body>
	<h1 style="text-align: center;">Kaiser</h1>
 <h3 style="text-align: center;"><%  include template/header.ejs %>
      </h3>
<form method="POST" action="/calculator">
	<table style="text-align: center;">
	<tr>
		<td>First_value</td>
	 	<td><input type="text" name="fv" ></td>
	</tr>
	<tr>
		<td>Second_value</td>
		<td><input type="text" name="sv" ></td>
	</tr>
	<tr>
		<td><input type="submit" value="submit"></td>
	</tr>
	</table>
</form>
</body>
</html>